<div class="main-container">
  <p *ngIf="isSpecial; then thenBlock; else elseBlock"></p>
  <ng-template #thenBlock>
    <p [class.text-red]="hasError">conditional hi {{ name }}</p>
  </ng-template>
  <ng-template #elseBlock>
    <p>Else statement</p>
  </ng-template>
  <p [class.text-green]="!hasError">hi {{ name }}</p>
  <p [class.text-special]="isSpecial">hi {{ name }}</p>
  <p [ngClass]="messageClasses">hi {{ name }}</p>

  <p>siteUrl: {{ siteUrl }}</p>

  <input [(ngModel)]="name" #firstInput id="first" [value]="firstInputValue" />
  <input id="second" bind-value="secondInputValue" [disabled]="isDisabled" />

  <p [style.color]="hasError ? 'red' : orange">Style Binding</p>
  <p [ngStyle]="styleBindingObject">Style Binding</p>

  <button (click)="clickHandler($event)">Click on me</button>
  <button (click)="logMessage(firstInput.value)">log value of input</button>
</div>
