<div class="weather-table">
  <div class="image-container">
    <img src="assets/coldnight.jpg" *ngIf="14 < 15" />
    <img src="assets/hotday.jpg" *ngIf="14 > 15" />
    <div>
      <p>city Name</p>
      <h1>14 C</h1>
    </div>
  </div>
  <div class="info-container">
    <p>More Information</p>
    <div class="weather-information">
      <div class="flex-row">
        <div class="container">
          <div class="flex-col">
            <img width="40px" src="assets/low-temperature.png" />
            <p style="margin-right: 12px">Min</p>
          </div>
          <p>10 C</p>
        </div>

        <div class="container">
          <div class="flex-col">
            <img width="40px" src="assets/high-temperature.png" />
            <p style="margin-left: 12px">Max</p>
          </div>
          <p>10 C</p>
        </div>
      </div>

      <div class="flex-row">
        <div class="container">
          <div class="flex-col">
            <img width="40px" src="assets/humidity.png" />
            <p>Humidity</p>
          </div>
          <p>10 C</p>
        </div>

        <div class="container">
          <div class="flex-col">
            <img width="40px" src="assets/wind.png" />
            <p>Wind</p>
          </div>
          <p>10 C</p>
        </div>
      </div>
    </div>
  </div>
</div>
